.object{
    position: absolute;
    background-color: #99a4a4;
    border: 1px solid #333636;
    border-radius: 5px;
    padding: 10px;
}

.objectCaption{
    cursor: grab;
    color: black;
    text-decoration: underline;
    font-weight: bold;
    width: inherit;
    text-align: center;
}

.active{
    user-select: none;
}

.chooseLabel{
    height: 60px;
    width: 60px;
    font-weight: bold;
    font-size: 2em;
    border: 1px solid white;
    border-radius: 4px;
    text-align: center;
    background-color: white;
    color: black;
}

.pascalInput{
    width: 40px;
    background-color: #f3a620;
}

.posInput {
    width: 40px;
    background-color: #f3cc8e;
    color: #1e2a36;
    font-weight: bold;
    font-size: 1.5em;
}

.divideDiv{
    height: 10px;
    font-weight: bold;
    font-size: 40px;
    color: white;
    background-color: #254d17;
}

#displayBinom{
    display: none;
    color: black;
    padding: 10px;
    font-size: 3em;
}

.box {
    width: 100px;
    height: 100px;
}